# Anything that shouldn't be put in version control
shadow*
README.rst
*.pyc
# This sample data is too big
/samples/x00-01-06232016b.json
old/*
NOTES.md
Philips Data Export Interface Programming Guide.pdf
*.log