# Anything that shouldn't be put in version control
shadow*
README.rst
*.pyc
/DockerSplunk/x00-01-06232016b.json
old/*
NOTES.md
/TelemetryStream/IntellivueProtocol/Philips Data Export Interface Programming Guide.pdf
*.log