include config.yaml
global-include README.md
include images/*.png
include TelemetryStream/IntellivueProtocol/*.txt
include TelemetryStream/IntellivueProtocol/*.pdf
exclude README.rst
global-exclude shadow.yaml